<table>
    <thead>
      <tr>
      <th>Location</th>
      <th>Name</th>
      <th>Details</th>
      <th>Priority</th>
      </tr>
    </thead>
    <tbody>
    {{ $url := "https://opramachine.com/request/1890/response/3627/attach/2/Actove%20911%20Request%2006.18.18.csv.txt" }}
    {{ $sep := "," }}
    {{ range $i, $r := getCSV $sep $url }}
      <tr>
        <td>{{ index $r 8 }}</td>
        <td>{{ index $r 7 }}</td>
        <td>{{ index $r 4 }}</td>
        <td>{{ index $r 3 }}</td>
        <td>{{ index $r 5 }}</td>
      </tr>
    {{ end }}
    </tbody>
  </table>